<div class="dist">
  <h1> 編輯作業 </h1>
  <%= simple_form_for [@homework, @answer] do |f| %>
    <h3> Title </h3>
    <%= f.input :title, input_html: { class: "form-control" }, label: false %>
    
    <h3> Description </h3> 
    <%= render partial: 'common/editor', locals: { f: f, description: :description} %> 
    
    <h3> Attachment </h3>
    <% if @answer.attachment.url != nil %>  
      你當前的檔案：<%= link_to File.basename(@answer.attachment.path), @answer.attachment.url, target: "_blank" %>
      <br><br>
    <% end %>
    <%= f.input :attachment, label: "重新上傳檔案，檔案請不要超過50MB" %>
    <%= f.submit "確認", class: "btn btn-primary", data: {disable_with: "Submitting .... "} %>
    <%= link_to "返回", :back, class: "btn btn-default" %>
  <% end %>
</div>
