<h1> 繳交的作業 </h1>
<hr>
<h3> Title </h3>
<%= @answer.title %>

<h3> Description </h3>
<%= @answer.description.html_safe %>

<h3> Attachment </h3>
<%= link_to "Download", @answer.attachment.url %>

<h3> Submission Time :  <%= get_time(@homework.deadline, Time.now.to_datetime) %> </h3> 

<br>

<% if is_admin?(current_user) %>
  <h1> Review </h1>
  <hr>
  <%= simple_form_for [@homework, @answer, @review] do |f| %>
    <h3> Points </h3>
    <%= f.input :point, input_html: { class: "form-control" }, label: false %>
    
    <h3> Comment </h3> 
    <%= f.input :comment, input_html: { class: "form-control", id: "wysiwyg" }, label: false %>
    <%= render partial: 'common/editor_script' %>

    <%= f.submit "Submit", class: "btn btn-primary", data: {diable_with: "Submitting..."} %> 
  <% end %>
<% end %>
