<table class="table table-hover">
  <thead>
    <th> 狀態 </th>
    <th> 標題 </th>
    <th> 到期日 </th>
    <th> 已交人數 </th>
  </thead>
  <tbody>
    <% homeworks.each do |homework| %>
      <tr>
        <td>
          <% if current_user.district == homework.district %>
            <% if current_user.is_member_of?(homework) %>
              <span class="label label-success">已繳交</span>
            <% else %>
              <span class="label label-danger">未繳交</span> 
            <% end %>
          <% else %>
            <span class="label label-info">不需繳交</span>
          <% end %>
        </td>
        <td> <%= link_to(homework.title, homework_path(homework)) %>  </td>
        <td> <%= get_time(homework.deadline, Time.now.to_datetime) %>  </td>
        <td>
          <% if homework.district == "CLang" %>
            <%= homework.answers.count %> / <%= @clang_student_counts %> 
          <% else %>
            <%= homework.answers.count %> / <%= @pylang_student_counts %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
