
<div class="dist">
  <h1> 作業內容 </h1> 
  <hr>

  <div class="homework">
    <% if is_admin?(current_user) %>
      <%= link_to("編輯", edit_homework_path, class: "btn btn-warning pull-right") %>
      <%= link_to("刪除", homework_path(@homework), method: :delete, class: "btn btn-danger pull-right", data: { confirm: "你確定不是手誤要刪除作業嗎?" }) %>
      <%= link_to("提醒", remind_homework_path(@homework), class: "btn btn-success pull-right", data: { confirm: "要給學員們一封提醒信嗎？" }) %>
    <% elsif can_submit_homework?(current_user, @homework) && !current_user.is_member_of?(@homework) %>
      <%= link_to("交作業", new_homework_answer_path(@homework), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>

  <h4> 標題 </h4> 
  <%= @homework.title %> 

  <br> <br>

  <h4> 敘述 </h4>
  <%= @homework.description.html_safe %>

  <br>

  <% if @homework.attachment.url != nil %>
    <h4> 附加檔案 </h4>
    <%= link_to File.basename(@homework.attachment.path), @homework.attachment.url, target: "_blank"%>
    <br><br>
  <% end %>

  <h4> 繳交期限 :  <%= get_time(@homework.deadline, Time.now.to_datetime) %> </h4> 
</div>

<% if is_admin?(current_user) %>
  <div class="dist">
    <h1> 未批改名單</h1>
    <div style="height:400px; overflow:auto;" >
      <%= render partial: 'submit_list', locals: {answers: @unreviewed_answers, review_stat: "unreviewed"} %>
    </div>
  </div>

  <div class="dist">
    <h1> 已批改名單 </h1>
    <div style="height:300px; overflow:auto;" >
      <%= render partial: 'submit_list', locals: {answers: @reviewed_answers, review_stat: "reviewed"} %> 
    </div>
  </div>
  
  <div class="dist"> 
    <h1> 未交名單 </h1>
    <hr>
    <%= render partial: 'common/plain_student_table', locals: { students: @non_submitted_students } %>
  </div>
<% elsif @answer != nil %>
  <div class="dist"> 
    <% if current_user.is_member_of?(@homework) %>
      <%= link_to("刪除作業", homework_answer_path(@homework, @answer), method: :delete, class: "btn btn-danger pull-right", data: { confirm: "確定要把辛辛苦苦寫的作業刪除掉嗎？" }) %>
      <%= link_to("修改作業", edit_homework_answer_path(@homework, @answer), class: "btn btn-success pull-right") %>
    <% end %>
    <%= render 'answers/content' %>
  </div>

  <% if @review != nil %>
    <div class="dist"> 
      <h1> 評分 </h1>
      <hr>
      <h3> 分數 : <font color="red"> <%= @review.point %> </font> </h3> 
      <h3> 評語： </h3>
      <%= @review.comment.html_safe %>
    </div>
  <% end %> 
<% end %>




