<div class="homework">
  <% if is_admin?(current_user) %>
    <%= link_to("EDIT", edit_homework_path, class: "btn btn-warning pull-right") %>
    <%= link_to("DELETE", homework_path(@homework), method: :delete, class: "btn btn-danger pull-right", data: { confirm: "Are you sure ?" }) %>
  <% else %>
    <%= link_to("交作業", new_homework_answer_path(@homework), class: "btn btn-primary pull-right") %>
  <% end %>
</div>

<h1> <%= @homework.title %> </h1> 
<hr>
<%= @homework.description.html_safe %>

<% if is_admin?(current_user) %>
  <h3> 已交名單 </h3>
  <table class="table table-hover">
    <thead>
      <th> Title </th>
      <th> File </th>
    </thead>
    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td> <%= link_to answer.title, homework_answer_path(@homework, answer) %> </td>
          <td> <%= link_to "Download", answer.attachment.url %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


