<%= render 'answers/content' %>

<br>

<% if is_admin?(current_user) %>
  <h1> Review </h1>
  <hr>
  <%= simple_form_for [@homework, @answer, @review] do |f| %>
    <h3> Points </h3>
    <%= f.input :point, input_html: { class: "form-control" }, label: false %>
    
    <h3> Comment </h3> 
    <%= f.input :comment, input_html: { class: "ckeditor" }, label: false %>
    <%= render partial: 'common/editor_script' %>

    <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..."} %> 
  <% end %>
<% end %>
