<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sprout LMS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to("作業列表", homeworks_path) %> </li>
        <li> <%= link_to("說明", help_path) %> </li>
        <li> <%= link_to("匿名討論", discussions_path) %> </li>
	<% if is_admin?(current_user) %>
          <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      成績列表
              <b class="caret"></b>
            </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to("PyLang", show_grades_path("PyLang"))%></li>
	      <li><%= link_to("CLang", show_grades_path("CLang"))%></li>
	    </ul>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      簽到表
	      <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	      <li> <%= link_to("PyLang",all_history_path("PyLang"))%> </li>
	      <li> <%= link_to("CLang", all_history_path("CLang")) %> </li>
	    </ul>
	  </li>
	  <li><%= link_to("學員請假", list_requests_path)%></li>
	<% elsif current_user %>
	  <li><%= link_to("出席紀錄", my_attendance_path(current_user.id)) %></li>
	  <li><%= link_to("我要請假", leave_request_path) %></li>
	<% end %>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li> <%= link_to("登入", new_user_session_path) %> </li>
        <% else %>
          <% if is_admin?(current_user) %>
	    <li class="dropdown">
	      <% if params[:area] %>
            <% if params[:area] == "0" %>
              <% area = '北區' %>
            <% elsif params[:area] == "1" %>
              <% area = '竹區' %>
            <% elsif params[:area] == "2" %>
              <% area = '不分區' %>
            <% end %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      帳號管理 (<%=area%>)
          <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              帳號管理
          <% end %>
		  <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li> <%= link_to("北區", show_users_path(0)) %> </li>
		<li> <%= link_to("竹區", show_users_path(1)) %> </li>
		<li> <%= link_to("不分區", show_users_path(2)) %> </li>
	      </ul>
	    </li>
          <% end %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              歡迎來資芽尋找偉大的航道，<%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to("個人資料", user_profile_path) %> </li>
              <li> <%= link_to("修改密碼", edit_user_registration_path(current_user)) %> </li>
              <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

